<div id="title">
  ApiOmat - App Development
</div>
<div id="topnav">
  <button (click)="store.changeApp('App 1 it is!')">App 1</button> <button (click)="store.changeApp('App 2 it is!')">App 2</button>
</div>