:host {
  display: block;
  padding: 1em;
  background: #41a3ae;
  position: relative;
}

#title{
  color: white;
}

#topnav{
  position: absolute;
  right: 20px;
  top: 15px;
}

h1 {
  margin: 0;
  color: white;
}